/* G E N E R A L   S T Y L I N G */
/* ------------ -g- ------------ */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background-image: linear-gradient(45deg, #27A5B7 0%, #279FB8 51%, #4698BD 100%);
    background-size: 200% auto;
    font-family: 'Shree Devanagari 714', sans-serif;
    /* background-attachment: fixed; */
}

h1, h2, h3, h4, h5, h6, p, span {
    padding: 5px;
    padding: 0;
    margin: 0;
}

.content-area {
    max-width: 1280px;
}

.content_sections {
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: white;
    border-top: 1px solid black;
    min-height: 100vh;
    min-width: 100vw;
}

.section_titles {
    text-align: center;
    margin-bottom: 20px;
}

footer {
    height: 0;
    overflow: hidden;
    background-color: #022D41;
    color: white;
}

footer a, footer a:active, footer a:visited {
    color: white;
}

.post, .page {
    margin: 0;
}

.site-branding {
    top: 0px;
    left: 0px;
    margin: 10px;
    height: 75px;
    font-size: 1.25em;
    position: absolute;
}

.slider .slide {
    min-height: 600px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#qualify_page, #volunteer, #empowerment, #testimonials {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    /* border-bottom: 2px solid black; */
}

#sidebar {
    position: absolute;
    margin-top: 0px;
    width: 250px;
    height: 460px;
    background-color: #022d41;
    border-radius: 40px;
}

.fullVH {
    height: 100vh;
    align-content: flex-start;
}

#navi {
    z-index: 2;
    position: absolute;
    /* margin-left: 100px; */
    margin-top: 85px;
}

nav {
    /* position: absolute; */
    margin: 10px;
    z-index: 2;
}

#masthead nav {
    position: absolute;
    margin: 10px;
    z-index: 2;
    right: 0;
    width: 20%;
}

.nav-menu {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

a {
    color: #27a5b7;
    text-decoration: none;
}

a:hover {
    color: #022d41;
}

#footer {
    background: #022d41;
    width: 100vw;
}

#footer_holder {
    text-align: center;
    padding: 10px 0;
}

#footer_holder img {
    height: 100px;
    padding: 5px;
    margin-left: 20px;
}

button {
    transition: all 0.5s;
}

button:hover {
    opacity: 0.7;
    transition: all 0.5s;
}

/* CUSTOM LOGO */
.custom-logo-link img {
    width: 300px;
    height: auto;
    margin-top: -10px;
    margin-left: 10px;
}

/* ANIMATION PURPOSES */
#main_site_title, .fadeOn {
    opacity: 0;
}

.box {
    overflow: auto;
    position: relative;
    /* border-radius: 50px; */
    /* background-color: rgba(39, 165, 183, 0.09); */
    /* background-image: url(../img/frm1.png);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat; */
    border-image-source: url(../img/frm1.png);
    border-image-slice: 27 27 27 27;
    border-image-width: 20px 20px 20px 20px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: stretch stretch;
}

/*            M E N U            */
/* ------------ -n- ------------ */
.responsive-menu-boring {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.site-navigation {
    top: 0;
    position: absolute;
}

a:visited {
    color: gray;
}

/* custom menu */
#responsive-menu-container {
    opacity: 0.9;
}

/*   L A N D I N G    P A G E    */
/* ------------ -1- ------------ */
.page1 {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}

.page1 {
    background-image: url(../img/bgBG-001.png);
    background-position: center;
    background-size: cover;
    /* background-image: linear-gradient(45deg, #1f7ee4 0%, #5357da 51%, #913473 100%);
  background-size: 200% auto; */
}

.characters {
    margin: 0 auto;
    padding: 20px;
    order: 2;
    position: relative;
    transition: all 0.6s cubic-bezier(.79, .14, .15, .86);
}

.characters img {
    height: 100%;
    position: absolute;
}

#main_img_chara2, #main_img_chara3, #main_img_chara4 {
    opacity: 0;
}

/* .characters img {
  height: 100%;
} */
/* #masthead {
  display: none;
} */
.intro {
    transition: all 0.6s cubic-bezier(.79, .14, .15, .86);
    padding: 10px;
    border-radius: 15px;
}

.title {
    color: #022D41;
    font-weight: bolder;
    padding: 10px;
}

.statement {
    color: #0F5B5C;
    font-weight: bold;
    padding: 10px;
    line-height: 1.25em;
}

.userInp {
    /* width: 80%; */
    height: 52px;
    margin: 0 auto;
    padding: 10px;
}

.calculate {
    transition: all 0.3s ease-out;
    padding: 10px 20px;
    color: #022D41;
    background-color: #ffc436;
    cursor: pointer;
    /* border-radius: 40px; */
    border: 2px solid rgba(15, 91, 92, 0.6);
    padding: 14px 10px 10px 10px;
}

.calculate:hover {
    border: 2px solid rgba(15, 91, 92, 1);
    color: rgba(15, 91, 92, 1);
}

.two_button_container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#or {
    font-size: 25px;
}

.findTxHp {
    font-size: 1em;
    transition: all 0.3s ease-out;
    padding: 14px 10px 10px 10px;
    cursor: pointer;
    color: #0F5B5C;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #022D41;
    background-color: #022D41;
    color: white;
}

.findTxHp:hover {
    color: white;
    background-color: #022D41;
    border: 2px solid #0F5B5C;
}

.conversion {
    height: auto;
    padding: 10px;
}

.userInp,
.calculate,
.conversion {
    font-size: 1.5em;
}

.inp,
.btn,
.bigbtn {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bigbtn {
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.slider .slide * {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

.site-branding img {
    height: 75px;
    width: auto;
}

.site-branding a, .site-navigation a {
    text-decoration: none;
    color: black;
}

#volunteer_page,
#financial_empowerment {
    min-height: auto;
}

/*  H O W   T O   Q U A L I F Y  */
/* ------------ -2- ------------ */
.page2, .testimonials-page {
    background-color: rgba(255, 255, 255, 1);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}

#qualify_page {
    border-top: 1px solid black;
}

.qualify_box {
    padding: 25px;
    /* min-width: 90%; */
}

#qualify_page .section_titles {}

.how_to_qualify_btn_container {
    margin: auto 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#qualify_page .qualify_box {
    height: 100%;
}

.qualify_buttons {
    background-color: #022D41;
    padding: 20px;
    font-size: 20px;
    color: white;
    border-radius: 25px;
    cursor: pointer;
}

.qualify_button_selected {
    /* width: 223.411px;
	height: 80.02px; */
    background-color: #19868E;
}

.qualify_button_deselected {
    /* width: 223.411px;
	height: 80.02px; */
    background-color: #022D41;
}

#qualify_page .frame_image {
    margin-left: 199px;
}

.download img {
    width: 80px;
}

/*        L O C A T I O N S      */
/* ------------ -3- ------------ */
.page2 {
    background-image: url(../img/bgBG-002.png);
    background-position: center;
    background-size: cover;
    /* background-color: white; */
    /* background-image: linear-gradient(45deg, #1f7ee4 0%, #5357da 51%, #913473 100%);
  background-size: 200% auto; */
}

.locations-page {
    /* background-image: url(../img/section-6-bg.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed; */
    padding: 20px;
}

/* Map Container */
#map-section {
    margin: 10px;
    width: 100%;
    display: flex;
}

#map-section .title {
    order: -1;
    text-align: center;
}

#map-section h3,
#map-section h4,
#map-section h5,
#map-section h6 {
    font-size: 1em;
}

/* shared style */
#map-list,
#leafletMap,
#map-info {
    padding: 10px;
    background-color: rgba(25, 134, 142, 0.05);
    transition: width .4s cubic-bezier(.79, .14, .15, .86);
}

.map-list-option {
    transition: all ease-in-out 0.5s;
    padding: 10px 10px;
    line-height: 20px;
    color: #19868E;
    font-size: 1em;
}

.active {
    background-color: #022D41;
    color: white;
    border-radius: 20px;
}

/* Map Parts */
/* list of locations */
#map-list {
    height: 30vh;
    /* padding: 10px; */
    overflow-y: auto;
}

/* main map */
#map-box {
    padding: 20px 0px;
    height: 30vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    /* height: 50vh; */
    /* width: 80%; */
}

#leafletMap {
    height: 100%;
    height: 100%;
}

#map-info {
    height: 30vh;
    font-size: 1em;
}

map-section.leaflet-popup-content-wrapper {
    background-color: #27a5b7;
    color: white;
    border-radius: 0;
    padding: 15px;
    /* filter: blur(1px); */
}

.leaflet-popup-content {
    /* width: 501px !important; */
    padding: 10px !important;
}

.leaflet-popup-content-wrapper * {
    padding: 0;
    margin: 0;
}

.leaflet-popup-tip {
    background-color: #27a5b7;
}

.entry-content {
    /* border-bottom: 2px solid black; */
    margin: 0;
    padding: 0;
    border: none;
}

#locations {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

/*  V O L U N T E E R   P A G E  */
/* ------------ -4- ------------ */
#volunteer_page div {
    border-radius: 10px;
}

.volunteer_subtitles {
    color: #022d41;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

#video_container {
    /* width: 400px; */
    padding-top: 60px;
}

#video_description {
    text-align: left;
    /* width: 400px; */
    height: 90px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #022d41;
    padding: 15px;
    color: white;
    font-size: 18px;
}

.volunteer.grid-x .cell:nth-child(2) {
    margin: auto;
}

.volunteer_content_container {
    height: 450px;
    padding: 20px;
    background-color: #27a5b7;
}

.volunteer_content_container p {
    color: white;
    font-size: 18px;
    line-height: 28px;
}

#volunteer_p2 {
    margin-top: 5px;
}

.volunteer_button_container {
    text-align: right;
    cursor: pointer;
}

.volunteer_button {
    color: #ffc436;
    cursor: pointer;
    background: #022d41;
    padding: 10px;
    border-radius: 15px;
}

/*    F I N A N C I A L    E M P O W E R M E N T     */
/* ---------------------- -5- ---------------------- */
#financial_empowerment {
    padding: 0 60px;
    padding-bottom: 140px;
}

#financial_empowerment .section_titles {
    margin-top: 40px;
    margin-bottom: 40px;
}

#overview h1 {
    text-align: center;
    padding-top: 5px;
    font-size: 30px;
    color: #27a5b7;
}

#overview p {
    font-size: 18px;
    padding: 10px 15px 0px 35px;
    color: #022d41;
}

.frame_image {
    width: 700px;
}

#financial_empowerment .frame_image {
    margin-left: 330px;
}

.htq_grid {
    height: 100%;
}

.htq_grid div.grid-x.grid-margin-x div.small-12.medium-8.large-9 {
    height: 75%;
}

/* .htq_grid .section_titles {
  margin-bottom: 0;
} */
#overview,
#cost,
#credit,
#tax,
#bond,
.article_box {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 30px;
    background-color: rgba(39, 165, 183, 0.09);
    padding: 20px;
}

#overview,
#cost,
#credit,
#tax,
#bond {
    height: 97%;
    width: 97%;
    overflow: auto;
}

#financial_empowerment .box {
    margin-left: 355px;
    padding: 8px;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#financial_empowerment .box p {
    font-size: 16px;
}

#sideNav li {
    margin-left: 30px;
}

#sideNav ol {
    margin-top: 20px;
}

#sideNav ol li {
    margin-top: 40px;
    font-size: 18px;
    color: white;
    z-index: 2;
}

#sideNav li:hover {
    cursor: pointer;
    opacity: 0.6;
}

#cost {
    font-size: 16px;
    color: #022d41;
}

.firstPara {
    margin: 10px 8px 0px 10px;
    padding: 10px;
}

#cost ul {
    margin-left: 70px;
}

.secondPara {
    padding: 20px 30px 20px 35px;
}

.thirdPara {
    padding: 25px 30px 30px 30px;
}

#arrow1 {
    position: absolute;
    left: -1px;
    /*2    top: 43%;*/
    top: 11%;
    z-index: 1;
    /* width:20px; */
}

#arrow2 {
    position: absolute;
    left: -1px;
    top: 31%;
    z-index: 1;
}

#arrow3 {
    position: absolute;
    left: -1px;
    top: 48%;
    z-index: 1;
}

#arrow4 {
    position: absolute;
    left: -1px;
    top: 68%;
    z-index: 1;
}

#credit li {
    margin-left: 80px;
}

#bond {
    color: #022d41;
    font-size: 10px;
}

.fourthPara {
    padding: 30px 30px 30px 30px;
}

.sixthPara {
    padding: 20px 30px 20px 35px;
    font-size: 15px;
    line-height: 22px;
}

#credit {
    color: #022d41;
}

#tax h1 {
    font-size: 30px;
    padding: 30px;
}

#tax p {
    font-size: 20px;
    margin-left: 20px;
    padding-top: 20px;
    padding: 0px 10px 0px 10px;
}

.filingPdf {
    margin-left: 190px;
    margin-top: 20px;
    font-size: 25px;
}

.filingPdf img {
    position: absolute;
    margin-left: -264.5px;
    margin-top: -10px;
    width: 5%;
}

.RefundPdf {
    margin-left: 195px;
    font-size: 25px;
}

.RefundPdf img {
    position: absolute;
    margin-left: -269px;
    margin-top: -10px;
    width: 5%;
}

#sidebar div img {
    height: 86px;
    max-width: 280px;
}

#arrow1 img {
    width: 900px;
    margin-top: 22px;
}

#arrow2 img {
    margin-top: 16px;
}

#arrow3 img {
    margin-top: 6px;
}

#arrow4 img {
    margin-top: -2px;
}

/* T E S I M O N I A L S    P A G E  */
/* -------------- -6- ------------ */
#testimonials_h1 {
    font-family: 'Shree Devanagari 714', sans-serif;
    font-size: 50px;
    margin-left: 10px;
}

.card {
    height: 360px;
    padding-top: 12px;
    width: 100%;
    border: none;
    padding-left: 60px;
    margin-top: 0px;
    /* background: url(http://durham-tax-help.local/wp-content/uploads/2019/02/scribble.png); */
    background-image: url(../img/fr1.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.card:nth-child(1) {
    background-image: url(../img/fr1.jpg);
}

.card:nth-child(2) {
    background-image: url(../img/fr2.jpg);
}

.card:nth-child(3) {
    background-image: url(../img/fr3.jpg);
}

.card:nth-child(4) {
    background-image: url(../img/fr4.jpg);
}

.card * {
    display: none;
}

.container {
    height: auto;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
}

/* BENEFITS FINDER SECTION */
#benefits_finder_section {
    background: #c7f5f9;
    text-align: center;
    padding: 100px 220px 220px 220px;
    border-top: 1px solid black;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#benefits_finder_section p, #benefits_finder_section a {
    font-size: 20px;
}

#benefits_finder_section p {
    color: #127375;
    margin-bottom: 20px;
}

#benefits_finder_section a {
    color: #022D41;
    text-decoration: underline;
}

/*          CONTACT PAGE        */
#contactHeading {
    text-align: center;
}

/*          Q U E R I E S        */
/* ------------ -q- ------------ */
@media (min-width:0em) {

    /* smartphones, iPhone, portrait 480x320 phones */
    /* custom menu */
    .intro {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.6);
    }

    .characters {
        display: none;
    }

    .title {
        font-size: 2em;
    }

    #responsive-menu-container {
        width: 340px;
    }

    /* SHARED */
    .section_titles {
        font-size: 30px;
    }

    .userInp,
    .calculate,
    .conversion {
        font-size: 1.15em;
    }

    .findTxHp {
        font-size: 1.75em;
    }

    .qualify_buttons {
        background-color: #022D41;
        padding: 14px 10px 10px 10px;
        font-size: 1.5em;
        margin-right: 5px;
        width: auto;
    }

    #qualify_page .frame_image {
        margin-left: 30px;
        margin-right: 20px;
        width: 66%;
        height: 65%;
        display: none;
    }

    .download {
        cursor: pointer;
        text-align: center;
        color: black;
        margin-top: 20px;
        padding: 20px;
    }

    .download img {
        width: 60px;
    }

    #map-list {
        height: 35vh;
    }

    #map-box {
        height: 60vh;
        order: -1;
    }

    #map-info {
        height: 25vh;
        display: none;
    }

    #locations_page .section_titles {
        margin-bottom: 0;
        margin-top: 20px;
    }

    #video_container {
        padding-top: 20px;
    }

    #video_description {
        line-height: 20px;
        margin-top: -2px;
        margin-bottom: 20px;
    }

    .volunteer_content_container p {
        line-height: 27px;
    }

    #volunteer_last_btn {
        margin-top: 5px;
    }

    #benefits_finder_section {
        padding: 40px;
    }

    #benefits_finder_section p, #benefits_finder_section a {
        font-size: 20px;
    }

    #footer_holder img {
        height: 40px;
        padding: 5px;
        margin-left: 0px;
    }

    .testimonials-page {
        height: auto;
    }

    .container {
        background-color: transparent;
        height: auto;
        padding: 0 5px;
        margin: 0;
    }

    .card {
        height: 310px;
        border: none;
        padding: 0 5px;
        margin-top: 0px;
    }
    
    .statement, #map-section h3 {
        font-size: 1.25em;
    }

    #map-section h3 {
        font-weight: bolder;
    }

    .how_to_qualify_btn_container {
        height: 20%;
        margin: 0 auto;
        flex-flow: row wrap;
    }

    #site-navigation .top-bar {
        display: none;
    }
}

@media (min-width:30.063em) {

    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    .title {
        font-size: 3em;
    }

    .statement {
        font-size: 2em;
    }

    .userInp,
    .calculate,
    .conversion,
    .map-list-option h3 {
        font-size: 1.5em;
    }

    .findTxHp {
        font-size: 1.25em;
    }

}

@media (min-width:40.063em) {

    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .intro {
        padding-right: 20px;
    }

    .findTxHp {
        font-size: 1.5em;
    }

    .characters {
        margin: 0 auto;
        display: block;
        order: 2;
        height: 350px;
        width: 45%;
    }

    #map-list {
        height: 23vh;
        order: -1;
    }

    /* main map */
    #map-box {
        height: 50vh;
    }

    #map-info {
        height: 23vh;
        display: block;
    }

    .how_to_qualify_btn_container {
        height: 50%;
        margin: auto 0;
        flex-flow: column wrap;
    }

    .card {
        height: 330px;
    }

}

@media (min-width:50.063em) {}

@media (min-width:60.063em) {

    /* tablet, landscape iPad, lo-res laptops ands desktops */
    /* Map Parts */
    /* list of locations */
    .intro {
        background-color: rgba(255, 255, 255, 0);
        width: 60%;
    }

    .characters {
        margin: 0 auto;
        display: block;
        order: -1;
        height: 350px;
        width: 40%;
    }

    #map-list, #map-info {
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 30px;
    }

    /***********         TESTIMONIALS -  P A G E    5        ***********/
    /* -------------- 5 ------------ */
    .card {
        height: 350px;
        padding-top: 12px;
        padding-left: 60px;
        transform: scale(1.1);
    }

    
}

@media (min-width:64.063em) {

    /* big landscape tablets, laptops, and desktops */
    #map-list {
        height: 70vh;
        order: -1;
    }

    /* main map */
    #map-box {
        height: 70vh;
    }

    #map-info {
        height: 70vh;
        display: block;
    }

    .userInp,
    .calculate,
    .conversion {
        font-size: 1.5em;
    }

    /***********         TESTIMONIALS -  P A G E    5        ***********/
    /* -------------- 5 ------------ */
    .card {
        height: 350px;
        padding-top: 12px;
        padding-left: 60px;
    }

    
}

@media (min-width:70.063em) {

    /* hi-res laptops and desktops */
    .intro {
        width: 50%;
    }

    .title {
        font-size: 4em;
    }

    .statement {
        font-size: 2em;
    }

    .findTxHp {
        font-size: 1.2em;
    }

    #map-section h3 {
        font-size: 1.5em;
    }

    #map-section h4,
    #map-section h5,
    #map-section h6 {
        font-size: 1.25em;
    }

    .characters {
        height: 500px;
    }

    /***********         TESTIMONIALS -  P A G E    5        ***********/
    /* -------------- 5 ------------ */
    .card {
        height: 360px;
        padding-top: 12px;
        padding-left: 60px;
    }

}

@media (min-width:100.063em) {

    /* hi-res laptops and desktops */
    .intro {
        width: 45%;
    }

    .title {
        font-size: 6em;
    }

    .statement {
        font-size: 3em;
    }

    .conversion,
    .findTxHp {
        font-size: 2em;
    }

    .characters {
        height: 600px;
    }

    
}